@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 0 0 0;
}

/******* FULL SCREEN IMAGE *******/

.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('../img/city22.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}

.content{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: orange;
}

.content h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
    line-height: 1.5em;
    
}

.btn {
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    padding: 10px 20px;
    border: solid 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: orange;
}

.btn:hover {
    color: white;
    border: solid white 3px;
}

/******* NAVBAR - REMOVED STYLING B/C NAVBAR REMOVED 02/02/18 *******/
/******* ABOUT  *******/

.aboutContent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 33% 33% 33%;
    grid-gap: 5px;
    margin: 25px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
}

.profilePic {
    width: 85%;
    height: auto;
    border-radius: 50%;
}

.aboutBox1 {
    margin-top: 70px; 
}

.aboutContent div {
    padding: 30px 0px;
}

.aboutContent h1 {
    font-size: 300%;
}

.educationPic {
    width: 100px;
    height: auto;
}

.aboutBox3 {
    background-color: rgb(236, 194, 116);
}

/******* PORTFOLIO  *******/

.aboutportfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 25px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.portfolioTitle {
    border-top: solid black 1px;
    font-size: 250%
}

.aboutportfolio div{
    padding: 30px;
}

.projectBox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 16px;
}

.projectPic1 {
    height: auto;
    background: url(../img/MongoScraper-logo.jpg);
    background-size: cover; 
    background-position: center;
}

.projectPic2 {
    height: auto;
    background: url(../img/Burger.jpg);
    background-size: cover; 
    background-position: center;
}

.projectPic3 {
    height: auto;
    background: url(../img/PsychicgameLogo.jpg);
    background-size: cover; 
    background-position: center;
}

/******* CONTACT  *******/

.contact-title {
    margin-top: 100px;
    color: black;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.contact-title h1 {
    font-size: 32px;
    line-height: 10px;
    margin-bottom: 40px;
}

.contact-title p {
    font-size: 83%;
    margin-bottom: 70px;
}

#pUnderBtn {
    margin-top: 80px;
}

/******* FOOTER  *******/

footer {
    width: 100%;
    background-color: black;
    padding: 50px 0px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer div ul {  
    height: 50px;
    margin-bottom: 50px; 
}

footer div ul li {
    margin: 0 auto 20% auto;
    text-transform: uppercase;
    font-size: 250%;
    line-height: 2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 25px
}

footer div ul li a{
    padding: 1px 0 0 0;
    color: white;
}

.copyright {
    padding-top: 50px;
    font-size: 75%;
}

/******* @MEDIA  *******/

