@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 0 0 0;
}

/******* FULL SCREEN IMAGE *******/

.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('../img/city22.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}

.content{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: orange;
}

.content h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
    line-height: 1.5em;
    
}

.btn {
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    padding: 10px 20px;
    border: solid 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: orange;
}    

.aboutBtn{
  background: rgba(49, 49, 49, .6);
}

.btn:hover {
    color: white;
    border: solid white 3px;
}

/******* NAVBAR - REMOVED STYLING B/C NAVBAR REMOVED 02/02/18 *******/
/******* ABOUT  *******/

.aboutContent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 25px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    line-height: 1.40em;
}

.aboutContent div {
    padding: 30px 0px;
}

.aboutContent h1 {
    font-size: 300%;
}

.educationPic {
    width: 100px;
    height: auto;
}

.aboutBox3 {
    background-color: rgb(236, 194, 116);
}

/******* PORTFOLIO  *******/

.aboutportfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 25px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.portfolioTitle {
    border-top: solid black 1px;
    font-size: 100%;
    margin: 0px 6%
}

.aboutportfolio div{
    padding: 30px 5%;
}

.projectBox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 16px;
}
.projectDis {
    line-height: 1.40em;
}
.projectPic {
    box-shadow: 4px 5px rgb(54, 53, 53);
    border-radius: 9px;
}
.projectPic1 {
    height: auto;
    background: url(../img/MongoScraperLogo.jpg);
    background-size: cover; 
    background-position: center;
}

.projectPic2 {
    height: auto;
    background: url(../img/Burger.jpg);
    background-size: cover; 
    background-position: center;
}

.projectPic3 {
    height: auto;
    background: url(../img/PsychicgameLogo.jpg);
    background-size: cover; 
    background-position: center;
}

/******* CONTACT  *******/

.contact-title {
    margin: 50px 5%;
    color: black;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-title h1 {
    font-size: 150%;
    line-height: 10px;
    margin-bottom: 40px;
}

.contact-title p {
    font-size: 100%;
    margin-bottom: 50px;
}

#pUnderBtn {
    margin-top: 55px;
}

/******* FOOTER  *******/

footer {
    width: 100%;
    background-color: black;
    padding: 50px 0px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer div ul {  
    height: 30px;
    margin-bottom: 50px; 
    padding-left: 0px;
}

footer div ul li {
    margin: 0 auto 20% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
}

.icon {
    fill: white;
}

.copyright {
    padding-top: 50px;
    font-size: 95%;
}

/******* @MEDIA  *******/

/* FOR TABLETS */
@media screen and (min-width: 426px){
    .wrapper {
        margin: 0 22%;
    }

    /******* FOOTER  *******/

    footer div ul li {
        margin: 0 35% 0 35%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr; 
    }

    .copyright {
        padding-top: 0;
    }
}

/* FOR LAPTOPS */
@media screen and (min-width: 769px){
    .wrapper {
        margin: 0;
    }

    /******* ABOUT  *******/

    .aboutContent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        margin: 100px auto;;
        padding: 0 5%;
    }

    .aboutContent div {
        padding: 30px 5px;
    }

    .aboutContent h1 {
        font-size: 300%;
    }

    .aboutBox3 {
        background-color: rgb(236, 194, 116);
    }
    
    /******* PORTFOLIO  *******/

    .aboutportfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 1fr 1fr;
        grid-gap: 10px;
        margin: 25px auto;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .portfolioTitle {
        grid-column-start: span 2;
        border-top: solid black 1px;
        font-size: 100%;
        margin: 0px 6%
    }

    .aboutportfolio div{
        padding: 30px 10%;
    }

    .projectBox{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 16px;
    }

    .projectBox3 {
        grid-column-start: span 2;
        margin: 0 20%;
    }

}

/* FOR LARGE LAPTOPS AND DESKTOP */
@media screen and (min-width: 1025px){
    /******* PORTFOLIO  *******/

    .aboutportfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 25px auto;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .aboutportfolio div{
        padding: 30px 20%;
    }

    .projectBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        font-size: 16px;
    }

     .portfolioTitle {
        grid-column-start: span 2;
        border-top: solid black 1px;
        font-size: 100%;
        margin: 0px 6%
    } 

    .projectBox1 {
        grid-column-start: span 2;
        grid-row-start: 2;
    }

    .projectBox2 {
        grid-row-start: 3;
        grid-column-start: span 2;
    }

    .projectBox3 {
        grid-row-start: 4; 
        grid-column-start: span 2;
        margin: 0;
    }

    /******* FOOTER  *******/

    footer div ul li {
        margin: 0 40% 0 40%;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1441px){
    
    .wrapper {
        margin: 0 20%;
    }

}